---
title: "Q<sup>2</sup>Chemistry"
layout: splash
permalink: 
date: 2022-07-15T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/header2.jpg
  actions:
    - label: "Read more"
      url: "https://github.com/QuantumICT/SWQCQC"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "We developed an efficient VQE simulator for quantum chemistry named <i>Q<sup>2</sup>Chemistry</i>. Read more to check our code example"
intro: 
  - excerpt: 'Our world is fundamentally quantum mechanical. '
feature_row:
  - image_path: assets/images/circ_hea.jpg
    alt: "placeholder image 1"
    title: "Hardware efficient circuit"
    excerpt: "The two-layer hardware efficient circuit which entangles all neighbouring qubits using the <b>controlled-U</b>> gate"
  - image_path: /assets/images/procedue.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "A demonstrative procedure"
    excerpt: "A demonstrative procedure for MPS-based quantum circuit simulation"
    url: "https://zpy2001.github.io/Q2Chemistry/blog/welcome-to-Q2C-web/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/scaling-h2o.jpg
    alt: "placeholder image 3"
    title: "Simulating benzene molecule"
    excerpt: "The scaling of the Q<sup>2</sup>Chemistry simulating a benzene molecule (STO-3G basis set) using the Julia MPS backend"
feature_row2:
  - image_path: /assets/images/part2.jpg
    alt: "placeholder image 2"
    title: "VQE & NISQ"
    excerpt: 'This is a brief introduction to **variational quantum** eigensolver and **noisy intermediate quantum**, 
    which play an important role in the field of quantum computations today'
    url: "https://zpy2001.github.io/Q2Chemistry/blog/VQE/"
    btn_label: "Read More"
    btn_class: "btn--primary"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}